#desBod {
  display: flex;
  /* height: 130vh; */
  flex-wrap: wrap;
  justify-content: center;
}

#desImgs {
  display: flex;
  font-size: 1rem;
  margin-bottom: 15rem;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}
