#desBod {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  
}

#desBod h1 {
  padding-left: 0.5rem;
  filter: drop-shadow(5px 5px 10px black);
  text-align: center;
}

#desImgs {
  display: flex;
  font-size: 1rem;
  /* margin-bottom: 15rem; */
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

.imgContainer {
  height: fit-content;
}
