/* .developImgs a img {
  position: absolute;
} */

.developImgs a h2 {
  text-align: center;
  color: Black;
  background-color: rgba(240, 255, 255, 0.883);
  width: 350px;
}

.developImgs {
  width: 20%;
  min-width: 360px;
  height: auto;
  min-height: 400px;
  max-width: 400px;
  max-height: 500px;
  margin: 1rem;
  padding: 1rem;
}

#devBod {
  display: flex;
  /* height: 130vh; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}

.frame {
  position: relative;
  height: auto;
  width: 350px;
  filter: drop-shadow(5px 5px 10px black);
  cursor: pointer;
}

.fillImg {
  position: absolute;
  height: auto;
  width: 300px;
  margin: auto;
  transform: translateY(10%) translateX(10%);
  /* filter: grayscale(100%) brightness(0%); */
  /* transition: 10s ease-in-out; */
}

a {
  text-decoration: none;
  width: 100%;
}

#devPage h1 {
  font-size: 4rem;
  text-align: center;
  color: azure;
  /* background-color: rgba(240, 255, 255, 0.877); */
  width: 50%;
  filter: drop-shadow(5px 5px 10px black);

}

#devHeader {
 display: flex;
 justify-content: center;
}

.fillImg:hover {
  filter: blur(5px);
}

@media (max-width: 500px) {
  #devHeader {
    padding-left: .5rem;
    display: inline;
  }
}