.footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.854);
  width: 100%;
  padding: 1rem 0rem;
  /* Add other styles as needed */
}

.footer a {
  margin: 1rem;
}

.footer a svg {
  background-color: black !important;
  fill: azure;
  border-radius: 10%;
  transition: 0.3s;
  cursor: pointer;
}

.footer a svg:hover {
  transform: scale(120%);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.58);
  /* background-color: azure; */
  fill: pink;
  transition: 0.3s;
}

.footer a svg:active {
  transform: scale(105%);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.58);
  /* background-color: azure; */
  background-color: azure;
  fill: black;
}
