.header {
  position: sticky;
  display: flex;
  color: pink;
  font-size: 1.5rem;
  width: 100%;
  justify-content: space-between;
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.866);
  z-index: 10;
  top: 0;
  right: 0;
}

#name {
  font-size: 2rem;
  padding: 0.5rem;
}

.navigation {
  text-align: right;
}

.navBurger {
  /* position: fixed; */
  margin: 1rem;
  height: 32px;
  width: 32px;
  text-align: right;
}

.navigation {
  text-align-last: right;

  right: 1rem;
  top: 13rem;
  margin-right: 0rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navigation.open {
  opacity: 1;
  right: -10; /* Slide in from the right */
}

.navigation ul li {
  font-size: 2rem;
  margin: 1rem 2rem;
  list-style-type: none;
  transition: 0.2s;
}

.navigation ul li:hover {
  transform: scale(150%);
  cursor: pointer;
}

.navigation ul {
  background-color: rgba(0, 0, 0, 0.853);
  border-radius: 2rem;
  padding: 0rem 0rem;
}

Link {
  text-decoration: none;
}
