.name {
  display: flex;
  margin: 1rem 2rem;
  width: fit-content;
  justify-content: flex-start;
  color: black;
  font-size: 2rem;
}

#qBio {
  margin: 2rem;
  margin-bottom: 4rem;
  color: black;
  width: 40%;
  min-width: 300px;
  background-color: rgba(240, 255, 255, 0.931);
  padding: 1rem 0rem;
  padding-left: 2rem;
  border-radius: 30px;
  font-size: 1.3rem;
}

.name h1,
h2 {
  margin: 0;
}
