.loading {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
}

.loading p {
  font-size: 3rem;
  color: azure;
}

.spinner {
  border: 10px solid azure;
  border-radius: 50%;
  border-top: 10px solid pink;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-right: 1rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
