
#retroResearch {
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#retroResearchH2,
#retroPersonas h2 {
  text-align: center;
}

/* /////////////////////// Pain Points /////////////////// */
#retroPainH2 {
  text-align: center;
  margin-right: 50rem;
  font-size: 2.5rem !important;
  margin-left: 2rem !important;
  margin-top: 3rem;
}

.pain {
  margin: 0rem 1rem;
}

/* /////////////////// Personas ///////////////// */

#retroPersonas h3 {
  font-size: 2rem;
}

.retroUser img {
  width: 350px;
}

#userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#retroPersonas {
  margin-top: 5cqw !important;
}

/* /////////////// Design ///////////// */


#design h2,
#paperWireFrame h2 {
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#retroMap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#retroMapInfo {
  width: 350px !important;
}



#retroMap img {
  width: 350px;
}

/* /////////////// Paper WF  Crazy////////////////// */

#paperWireFrame img {
  width: 350px;
}
#crazyEightsCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#crazyEightsCon p {
  width: 300px;
  margin-bottom: 2rem;
}

/* //////////////////// Paper wire //////////////? */

#paperInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paperImg {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end !important;
  justify-content: space-around;
  text-align: center;
}

#paperInfo h2 {
  margin: 1rem;
  margin-top: 3rem;
  font-size: 2rem;
}

#paperInfo p,
#digitalWF p,
#lofiProto p {
  margin: 0rem 1rem;
  max-width: 400px;
}

.paperImg {
  width: 350px;
}

#paperH3,
#digitalWFCon {
  font-size: 1.5rem !important;
  color: #2de2e6;
  text-shadow: 0px 0px 9px #2de2e6;
  filter: drop-shadow(3px 3px 0px black);
}

/* ///////////// Digital WF ///////////// */

#digitalWF h2 {
  text-align: left;
  margin-left: 2rem;
}

#digitalWF div {
  display: flex;
  justify-content: center;
}

.dWF {
  height: 500px;
}

#digitalWFCon {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
  text-align: center;
}

/* /////////////// LoFi ///////////////////// */

#lofiProtoImg {
  width: 350px;
  margin-top: 2rem;
}

#lofiProtoCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ////////////////// User Study////////////// */

#userStudy h2 {
    font-size: 2.5rem;
    margin-left: 0rem;
    text-align: center;
}

#userStudy h3 {
    margin-left: 2rem;
}

#studyFour,
#findings
 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  
}

#findingsInfo {
  display: flex;
align-items: center;  flex-direction: column;
}

#findingsInfo p {
  max-width: 700px;
}


#userStudy h4 {
  font-size: 1.5rem;
  margin-left: 0rem;
}

#findings p,
.findingsDisplay p {
  max-width: 350px;
}

.findingsDisplay {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}

.findingsDisplay img {
  width: 350px;
  height: fit-content;
}

#finding2Img {
  display: flex;
  flex-direction: column;
}

#finding2Img img {
  margin-bottom: 1rem;
}

/* /////////////// MediaQ //////////// */

@media (min-width: 800px) {
  .retroUser img {
    width: 700px;
  }

  #retroMap img {
    width: 500px;
  }

  #lofiProtoImg {
    width: 650px;
  }
}
