@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#retroPage {
  background-image: url("../assets/UXAssets/RetroBackground.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin-top: 10rem ;
}

#retroBanner {
  box-shadow: 0px -10px 50px 60px black;
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

#retroPage h1,
#retroPage h2 {
  font-family: "Audiowide";
}

#retroHeader {
  display: flex;
  justify-content: center;
}
#retroHeader h1 {
  background-color: #0f0f2d;
  padding: 0.5rem 1rem;
  margin: 3rem 1rem;
  border: 3px solid #f9c80e;
  border-radius: 30px;
  /* box-shadow: 0px 0px 20px #F9C80E; */
  box-shadow: inset 0px 0px 10px #f9c80e, 0px 0px 20px #f9c80e;
  filter: drop-shadow(0px 0px 8px white);

}

/* /////////////////////// Project Overview ///////////////// */

#retroOverView {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}

#retroOverView h2,
#retroDuration h2,
.retroBreakDown h2,
#retroResearch h2 {
  font-size: 2rem;
  color: #f9c80e;
  text-shadow: 0px 0px 9px #f9c60eeb;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  filter: drop-shadow(3px 3px 0px black);

}

#retroOverView div,
#retroDuration div,
.retroBreakDown div,
#retroResearch div {
  background-color: #0f0f2d;
  width: 60%;
  padding: 1rem 1rem;
  border: 3px solid #f9c80e;
  border-radius: 30px;
}

/* //////////////////////// Duration //////////////////// */

#retroDuration {
  margin: 1rem;
}

#retroDuration div {
  width: 40%;
  text-align: center;
}

/* ////////////////////// 4 points ////////////////// */

#retroBreakDown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.retroBreakDown {
   width: 350px;
   margin: 1rem;
}

.retroBreakDown div {
    height: 200px;
}

/* ////////////////////// Research ////////////////// */

#retroResearch {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#retroResearch h2 {
    color: #F6009D;
    text-align: end;
    margin-right: 2rem;
    text-shadow: 0px 0px 9px #F6009D;
    filter: drop-shadow(3px 3px 0px black);
}
